//
// Configuration settings file format documentation can be found at:
//
// https://help.apple.com/xcode/#/dev745c5c974
//

//
// Signing:
//

DEVELOPMENT_TEAM = RH4U5VJHM6
CODE_SIGN_IDENTITY = Apple Development
CODE_SIGN_STYLE = Automatic

//
// This allows you to have an optional Configuration Settings File (xcconfig) downstream that overrides the above settings:
//

#include? "../../../../SpliceKit-Downstream.xcconfig"